<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="row text-center">Success!</h1>
        <p>The email address you entered {{ recent_email.email }} was enterred</p>
        <div class="row">
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_email in all_emails %}
                    <tr>
                        <td scope="row">{{one_email.email}}</td>
                        <td>{{one_email.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/">Go Back</a>
        </div>
    </div>
</body>

</html>