@model List<int>
@{
    ViewData["Title"] = "Numbers";
}

<div class="text-center">
    <h1 class="display-4">Here are some numbers</h1>
    @foreach(int x in Model)
    {
        <p>@x</p>
    }

</div>
