<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row my-3 gx-5 justify-content-between">
            <div class="col-5 p-3">
                <h2 class="text-center">New Book</h2>
                <form class="" action="/insert/book" method="post">
                    <label for="title" class="form-label">Title:</label>
                    <div class="input-group mb-3">
                        <input name="title" type="text" class="form-control" aria-describedby="basic-addon3">
                    </div>
                    <label for="num_of_pages" class="form-label">Number of Pages:</label>
                    <div class="input-group mb-3">
                        <input name="num_of_pages" type="text" class="form-control" aria-describedby="basic-addon3">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Add Book">
                </form>
            </div>
            <div class="col-5">
                <div class="bg-dark p-3">
                    <h2 class="text-center text-white">All Books</h2>
                    <ul class="list-group">
                        {% for one_book in all_books %}
                        <a href="/books/{{ one_book.id }}" class="list-group-item list-group-item-action">{{ one_book.title }}</a>
                        {% endfor %}
                    </ul>
                </div>
                <a href="/authors">Add Author</a>
            </div>
        </div>
    </div>
</body>

</html>