<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body class="container-fluid bg-gradient min-vh-100 py-3 bg-dark">
    <div class="container-fluid pt-3 text-light">
        <div class="row text-center justify-content-center">
            <a href="/" class="col-auto mx-3">
                <button class="btn btn-primary">Home</button>
            </a>
            <a href="/projects" class="col-auto mx-3">
                <button class="btn btn-outline-light" disabled>Projects</button>
            </a>
            <a href="/contact" class="col-auto mx-3">
                <button class="btn btn-primary">Contact</button>
            </a>
        </div>

        <div class="row text-center mt-3">
            <h1>My Projects</h1>
        </div>

        <a href="https://silversun.augnos.dev" class="row container-sm mx-auto mt-3 text-decoration-none text-light">
            <div class="row justify-content-evenly my-auto bg-light bg-opacity-25 border border-light rounded-4 px-5">
                <img src="https://augnos.dev/images/silversun.png" alt="" class="col-lg-4 col-12 img-fluid">
                <div class="col-lg-6 col-12 my-auto">
                    <h5 class="row">Silversun Studios</h5>
                    <p>Automated booking site for audio recording studios. A demo created with Python and Flask.</p>
                </div>
            </div>
        </a>

        <a href="https://go.augnos.com" class="row container-sm mx-auto mt-3 text-decoration-none text-light">
            <div class="row justify-content-evenly my-auto bg-light bg-opacity-25 border border-light rounded-4 px-5">
                <img src="https://augnos.dev/images/linktree.png" alt="" class="col-lg-4 col-12 img-fluid">
                <div class="col-lg-6 col-12 my-auto">
                    <h5 class="row">Linktree Clone</h5>
                    <p>A stylish, mobile-friendly, and regularly updated site displaying links relevant to my personal brand. Created with Python and Flask.</p>
                </div>
            </div>
        </a>

        <a href="https://augnos.dev/challenges" class="row container-sm mx-auto mt-3 text-decoration-none text-light">
            <div class="row justify-content-evenly my-auto bg-light bg-opacity-25 border border-light rounded-4 px-5">
                <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.wordsmith.org%2Fpalindrome%2Fimages%2Ftaco-cat.png&f=1&nofb=1&ipt=d8f29328d8d4cc3592065df26b506f4d458fe039f736b7508d5e7bafdb7261b6&ipo=images" alt="" class="col-lg-4 col-12 img-fluid">
                <div class="col-lg-6 col-12 my-auto">
                    <h5 class="row">Coding Challenges</h5>
                    <p>A collection of coding challenges, created with React.js.</p>
                </div>
            </div>
        </a>

    </div>
</body>

</html>