<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% for one_dojo in all_dojos %}
    <div class="container">
        <h1 class="text-center my-3">{{ one_dojo.name }} Ninjas</h1>
        <div class="row">
            <table class="table border col-8 mx-auto">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_ninja in all_ninjas %}
                    <tr>
                        <td scope="row">{{one_ninja.first_name}}</td>
                        <td>{{one_ninja.last_name}}</td>
                        <td>{{one_ninja.age}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="/dojos" class="col-8 mx-auto">Home</a>
        </div>
    </div>



    {% endfor %}
</body>

</html>