<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <form action="/create_user" method="POST" class="col-6 mx-auto mt-3">
            <h2 class="text-center">Add User</h2>
            
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" name="fname">
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" name="lname">
            </div>
            <div class="form-group">
                <label for="eaddress">Email:</label>
                <input type="text" class="form-control" name="eaddress">
            </div>
            <input type="submit" value="Add User">
        </form>
    </div>


</body>

</html>