.row {
    display: flex;
    color: white;
    text-align: center;
    height: 50px;

}

.col, .col-2, .col-3 {
    margin: 5px 2px;
    background-color: rgb(101, 163, 170);
    align-items: center;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}