.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    vertical-align: top;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    vertical-align: top;
    padding: 20px 0px;
}

.main > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    justify-self: center;
    margin: 20px;
}

.row {
    display: flex;
    justify-content: space-evenly;

}