<html>

<head>
  <title>Dojo Fruit Store Assignment</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
          </svg>
          <strong>Dojo Fruit Store</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main" class="mh-100">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Dojo Fruits</h1>

        <div class="fruitContainer row d-flex p-2 flex-wrap justify-content-evenly">

          <div class="card col d-flex align-items-center justify-content-between">
            <img class="my-3" src="{{ url_for('static', filename='img/apple.png') }}" alt="apple">
            <div class="card-body d-flex justify-content-between align-items-center flex-column">
              <h5 class="card-title">Apples</h5>
              <p class="card-text">Most apples are a little sweet and a little tart, but neither characteristic
                overpowers the other.</p>
              <a href="/#buy" class="btn btn-primary">Buy Apples</a>
            </div>
          </div>

          <div class="card col d-flex align-items-center justify-content-between bg-secondary">
            <img class="my-3" src="{{ url_for('static', filename='img/blackberry.png') }}" alt="blackberry">
            <div class="card-body d-flex justify-content-between align-items-center flex-column">
              <h5 class="card-title">Blackberries</h5>
              <p class="card-text">Blackberries are sweet with the ripest blackberries being the sweetest.</p>
              <a href="#" class="btn btn-primary bg-dark border-dark">Check back soon</a>
            </div>
          </div>

          <div class="card col d-flex align-items-center justify-content-between">
            <img class="my-3" src="{{ url_for('static', filename='img/raspberry.png') }}" alt="raspberry">
            <div class="card-body d-flex justify-content-between align-items-center flex-column">
              <h5 class="card-title">Raspberries</h5>
              <p class="card-text">Less tart than blackberries, but tend to be a little tart, especially when they are
                picked a little underripe.</p>
              <a href="/#buy" class="btn btn-primary">Buy Raspberries</a>
            </div>
          </div>

          <div class="card col d-flex align-items-center justify-content-between">
            <img class="my-3" src="{{ url_for('static', filename='img/strawberry.png') }}" alt="strawberry">
            <div class="card-body d-flex justify-content-between align-items-center flex-column">
              <h5 class="card-title">Strawberries</h5>
              <p class="card-text">Strawberries have a tangy, fruity, caramel, sweet, and overall pleasant taste.</p>
              <a href="/#buy" class="btn btn-primary">Buy Strawberries</a>
            </div>
          </div>
        </div>
        <p>
          <a href="/" class="btn btn-primary my-3">Go back</a>
        </p>
      </div>
    </section>

  </main>

</body>

</html>