@model List<Dish>

<h1 class="display-4 text-center">Welcome to CRUDelicious</h1>
<div class="mt-5">
    <h3 class="col-lg-8 col-11 mx-auto fw-light border-bottom mt-5">Check out some recent dishes</h3>
    <div class="col-lg-7 col-10 mx-auto text-start">
        @foreach (Dish x in Model)
        {
            <p><a href="/dishes/@x.DishId">@x.Name</a> by @x.Chef</p>
        }
    </div>
</div>
