@{
    ViewData["Title"] = "Dashboard";
}
<div class="d-flex flex-column justify-content-between">
    <h1 class="display-4 text-center">Success!</h1>

    <form asp-action="LogoutUser" method="post">
        <div class="row justify-content-evenly">
            </a> <button class="col-auto btn btn-danger" type="submit">Logout</button>
        </div>
    </form>
</div>