@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-12">
            @await Html.PartialAsync("_UserRegistration")
        </div>
        <div class="col-lg-6 col-12">
            @await Html.PartialAsync("_UserLogin")
        </div>
    </div>
</div>
